#main-div {
    /* text-align: center; */
    margin: 0 auto; 
  
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  
}

#inner-div {
    margin: 0 auto; 
    background-image: url(https://encorekite.com/sites/default/files/blog/encore_news_color_02.jpg);
    background-repeat: repeat;
    background-size: 30%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 500px;
}
