.search-form {
    background-color: transparent;
    border: solid 1px blueviolet;
}

.search-card {
    margin: 10px;
    opacity: 0.9;
    background-color: transparent;
    border: none;
}

#srch-btn {
    font-size: 20px;
    width: 70%;
    align-self: center;
    margin-bottom: 10px;
    background-color: blueviolet;
    box-shadow: 2px 2px 3px rgb(87, 86, 86) ;
}

.inputs {
    border: solid 1px blueviolet;
    box-shadow: 2px 2px 3px rgb(87, 86, 86);
}